/* Definição de variáveis de cores no :root */
:root {
  --cor-fundo: #035931; /* Azul verde para fundo */
  --cor-destaque: #34B36A; /* Verde para destaques */
  --cor-destaque-escura: #2119B3; /* Azul escuro para destaque */
  --cor-laranja: #D95C14; /* Laranja para destaque de informações */
}

/* Estilos para o contêiner */
.container {
  background-color: white;
  max-width: 750px;
  margin: 0 auto;
  padding: 25px; 
  margin-top: 10px;
  margin-bottom: 30px; /* Aumentado o espaço no rodapé */
  border-radius: 10px;
}

/* Estilos para o corpo do documento */
body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-fundo); 
  color: var(--cor-destaque-escura); 
  margin: 0;
  padding: 0;
  text-align: justify;
}

/* Estilos para cabeçalho */
header {
  background-color: var(--cor-destaque); 
  color: white; 
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  color: var(--cor-laranja);
}

h3 {
  color: var(--cor-destaque-escura);
}

p {
  color: black;
}


/* Estilos para links de navegação */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a, a {
  text-decoration: none;
  color: var(--cor-destaque);
  transition: color 0.3s; 
}

nav ul li a:hover, a:hover {
  color: var(--cor-destaque-escura); /* Mudança de cor ao passar o mouse */
}

/* Estilos para seção de conteúdo */
section {
  padding: 20px;
}

/* Estilos para imagens com legendas */
article figure {
  text-align: center;
}

/* Estilos para rodapé */
footer {
  padding: 10px;
  background-color: var(--cor-destaque); 
  text-align: center;
}

footer > p {
  margin: 0;
  color: white; 
}
